<section class="container">
  <nav class="columns header-bg">
    <div class="column col-8 col-lg-12 centered">
      <ab-top-bar [user]="user"></ab-top-bar>
    </div>
  </nav>
  <aside class="columns"
         [style.display]="show ? 'block' : 'none'">
    <div class="column col-8 col-lg-12 centered">
      <ab-toast [show]="show"
                [text]="text"
                [level]="level"
                (close)="show = false"></ab-toast>
    </div>
  </aside>
  <main class="columns">
    <ab-main-nav [user]="user"
                 [menuLinks]="menuLinks"></ab-main-nav>
    <ab-main-content [loadedMetadata]="loadedMetadata"
                     class="column centered"></ab-main-content>
  </main>
</section>
