<section class="container">
  <nav class="columns header-bg">
    <div class="column col-8 col-lg-12 centered">
      <ab-top-bar [user]="user"
                  [title]="title"
                  (showResponsiveMenu)="showResponsive = $event"></ab-top-bar>
    </div>
  </nav>
  <aside class="columns"
         [style.display]="show ? 'block' : 'none'">
    <div class="column col-8 col-lg-12 centered">
      <ab-toast [show]="show"
                [text]="text"
                [level]="level"
                (close)="show = false"></ab-toast>
    </div>
  </aside>
  <main class="columns">
    <div class="column col-8 col-lg-12 centered">
      <div class="columns">
        <ab-main-nav [user]="user"
                     [menuLinks]="menuLinks"
                     [showResponsive]="showResponsive"></ab-main-nav>
        <div class="column col-9 col-xl-8 col-md-12">
          <ab-main-content [loadedMetadata]="loadedMetadata"></ab-main-content>
        </div>
      </div>
    </div>
  </main>
</section>
