<div [ngClass]="{'sidebar-responsive': true, 'sidebar-responsive-visible': showResponsive}">
  <ul class="nav">
    <li>
      <a *ngIf="user"
         routerLink="me">
        <i class="icon icon-people mr-5"></i> {{user.name}}
      </a>
      <a *ngIf="!user"
         routerLink="login">
        <i class="icon icon-people mr-5"></i> Log In
      </a>
    </li>
    <li class="divider"></li>
    <ng-container *ngFor="let menuLink of menuLinks">
      <li>
        <a [routerLink]="menuLink.link">
        <i [class]="'icon mr-5 ' + menuLink.icon "></i>
        {{ menuLink.label }}
      </a>
      </li>
    </ng-container>
    <li class="divider"></li>
    <li>
      <a routerLink="messages">
        <span class="badge"
            [attr.data-badge]="numMessages">
        <i class="icon icon-mail mr-5"></i>
        Messages
      </span>
      </a>
    </li>
  </ul>
</div>
