<form [formGroup]="form.group"
      class="container">
  <section class="form-group" *ngFor="let control of form.schema.controls">
    <ab-input [form]="form"
              [control]="control"></ab-input>
  </section>
  <section class="form-group">
    <button [ngClass]="{'btn': true, 'btn-primary': true, 'btn-block': formSchema.buttonBlock}" type="submit"
            (click)="onClick()"
            [disabled]="form.group.invalid">
            {{ form.schema.submitLabel}}
    </button>
  </section>
</form>
