<header class="navbar">
  <section class="navbar-section">
    <a routerLink=""
       class="navbar-brand mr-10">{{ title }}</a>
    <ng-container *ngFor="let menuLink of menuLinks">
      <a [routerLink]="menuLink.href"
         class="btn btn-link">{{ menuLink.title }}</a>
    </ng-container>
  </section>
  <section *ngIf="user"
           class="navbar-section">
    <figure class="avatar"
            [attr.data-initial]="userInitials"
            style="background-color: #5764c6;"></figure>

  </section>
  <section *ngIf="!user"
           class="navbar-section">
    <a routerLink='login'>
    <i class="icon icon-people"></i> Log In</a>
  </section>
</header>
