<section class="container">
  <nav class="columns header-bg">
    <div class="column col-8 col-lg-12 centered">
      <ab-top-bar></ab-top-bar>
    </div>
  </nav>
  <aside class="columns"
         [style.display]="show ? 'block' : 'none'">
    <div class="column col-8 col-lg-12 centered">
      <ab-toast [show]="show"
                [text]="text"
                [level]="level"
                (close)="show = false"></ab-toast>
    </div>
  </aside>
  <main class="columns">
    <div class="column col-1 col-lg-2">
      <ab-main-nav></ab-main-nav>
    </div>
    <div class="column col-10 col-lg-10 centered">
      <ab-main-content></ab-main-content>
    </div>
  </main>
</section>
