<section *ngIf="schemas"
         class="columns">
  <div *ngFor="let widget of schemas"
       class="column col-6 col-md-12">
    <ng-container [ngSwitch]="widget.type">
      <ab-panel *ngSwitchCase="'panel'"
                [schema]="widget"
                (send)=" onClick($event)">
      </ab-panel>
      <ab-tile *ngSwitchCase="'tile'"
               [schema]="widget"
               (send)=" onClick($event)">
      </ab-tile>
      <ab-card *ngSwitchCase="'card'"
               [schema]="widget"
               (send)=" onClick($event)">
      </ab-card>
      <ab-panel *ngSwitchDefault
                [schema]="widget"
                (send)=" onClick($event)">
      </ab-panel>
    </ng-container>
  </div>
</section>
