<article class="panel">
  <header class="panel-header">
    <div class="panel-title text-center">
      <i *ngIf="schema.header.icon"
         [class]="'mr-10 icon ' + schema.header.icon"></i>
      <span>{{ schema.header.title }}</span>
    </div>
    <div class="panel-subtitle text-center">{{ schema.header.subtitle }}</div>
  </header>
  <main class="panel-body">
    <ng-content select="panel-body"></ng-content>
  </main>
  <footer class="panel-footer">
    <ng-container *ngFor="let action of schema.actions">
      <button *ngIf="action.name"
              (click)="onClick(action.name)"
              class="btn btn-primary btn-block">
        <i *ngIf="action.icon" [class]="'mr-10 icon ' + action.icon"></i>
        <span>{{ action.label }}</span>
      </button>
      <a *ngIf="action.link"
         [routerLink]="action.link"
         class="btn btn-primary btn-block">
        <i *ngIf="action.icon" [class]="'mr-10 icon ' + action.icon"></i>
        <span>{{ action.label }}</span>
      </a>
    </ng-container>
  </footer>
</article>
