<section *ngIf="schema?.fields && data?.length > 0; else empty "
         class="table-container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th *ngFor="let field of schema.fields">{{ field?.label }}</th>
        <th *ngFor="let action of schema.actions">{{ action?.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data"
          (click)="onRowClick(row)">
        <td *ngFor="let field of schema.fields">
          {{ valueByPath(row,field?.key) }}
        </td>
        <td *ngFor="let action of schema.actions">
          <!--<button class="btn"
                  (click)="onActionClick(action.key,row)">
                  <i [class]="'icon ' + action.icon"></i>
          </button>-->
          <ab-action class="centered"
                     btnClass='btn-action'
                     noLabel="true"
                     [schema]="action"
                     (action)="onActionClick($event, row)"></ab-action>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<ng-template #empty>
  <ab-load-empty-state [schema]="{ loading: false, empty: true }">
  </ab-load-empty-state>
</ng-template>
