<ul class="menu">
  <header>
    <li class="divider"
        [attr.data-content]="title">
    </li>
  </header>
  <main>
    <li class="menu-item">
      <a *ngIf="user"
         routerLink="me">
        <i class="icon icon-people mr-5"></i> {{user.name}}
      </a>
      <a *ngIf="!user"
         routerLink="login">
        <i class="icon icon-people mr-5"></i> Log In
      </a>
    </li>
    <li class="divider"></li>
    <ng-container *ngFor="let menuLink of menuLinks">
      <li class="menu-item">
        <a [routerLink]="menuLink.link">
        <i [class]="'icon mr-5 ' + menuLink.icon "></i>
        {{ menuLink.label }}
      </a>
      </li>
    </ng-container>
    <li class="divider"></li>
    <li class="menu-item">
      <div class="menu-badge">
        <label class="label label-primary">2</label>
      </div>
      <a routerLink="messages">
        <i class="icon icon-mail mr-5"></i> Messages
      </a>
    </li>
  </main>
</ul>
