<ab-god-organizations-actions (create)="onCreateOrganization()">
</ab-god-organizations-actions>
<ab-god-organization-create [active]="activeCreateOrganizationModal"
                            (close)="onCloseCreateOrganizationModal($event)">
</ab-god-organization-create>
<ab-god-organizations-list [organizations]="organizations"
                           (setAdmin)="onSetAdmin($event)"
                           (deleteOrganization)="onDeleteOrganization($event)">
</ab-god-organizations-list>
<ab-god-organization-admin [active]="activeSetAdminModal"
                           [organization]="activeOrganization"
                           (close)="onCloseSetAdminModal($event)">
</ab-god-organization-admin>
<ab-god-organization-delete [active]="activeDeleteOrganizationModal"
                            [organization]="activeOrganization"
                            (close)="onCloseDeleteOrganizationModal($event)"
                            (confirm)="onConfirmDeleteOrganizationModal($event)">
</ab-god-organization-delete>
