<ab-dashboard [schemas]="schemas"
              (send)="onSend($event)">
</ab-dashboard>
<aside>
  <ab-modal [title]="user?.name"
            [active]="logOutActive"
            (close)="logOutActive=false">
    <modal-content>
      {{ user | json }}
    </modal-content>
    <modal-footer>
      <button (click)="logOutActive=false"
              class="btn btn-link">Remain logged in</button>
      <button (click)="onLogOutClick()"
              class="btn btn-primary">Log Out.</button>
    </modal-footer>
  </ab-modal>
</aside>
