<ab-modal title="New Organization"
          [active]="active"
          (close)="onClose()">
  <modal-content>
    <ab-form [formGroup]="form"
             submitLabel="Guardar Nueva Organización"
             (send)="onPostOrganization()">
      <ab-input label="Nombre"
                [formGroup]="form"
                [formControlName]="schemma[0]"
                type="text"></ab-input>
      <ab-input label="Email"
                [formGroup]="form"
                [formControlName]="schemma[1]"
                type="email"></ab-input>
    </ab-form>
  </modal-content>
</ab-modal>